<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Hábito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Hábito</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mensaje de éxito -->
  <div *ngIf="mensajeExito" class="mensaje-exito">
    ¡Hábito actualizado con éxito!
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="mensajeError" class="mensaje-error">
    <p>{{ mensajeError }}</p>
  </div>

  <div class="form-container">
    <!-- Nombre del hábito -->
    <ion-input label="Hábito" label-placement="floating" fill="outline" placeholder="Nombre del hábito"
      [(ngModel)]="habito" class="input-field"></ion-input>

    <!-- Descripción del hábito -->
    <ion-input label="Descripción" label-placement="floating" fill="outline" placeholder="Describe la actividad"
      [(ngModel)]="descripcion" class="input-field"></ion-input>

    <!-- Selector de días -->
    <ion-select placeholder="Selecciona los días" interface="popover" multiple="true" [(ngModel)]="dias"
      class="input-field">
      <ion-select-option value="Lunes">Lunes</ion-select-option>
      <ion-select-option value="Martes">Martes</ion-select-option>
      <ion-select-option value="Miércoles">Miércoles</ion-select-option>
      <ion-select-option value="Jueves">Jueves</ion-select-option>
      <ion-select-option value="Viernes">Viernes</ion-select-option>
      <ion-select-option value="Sábado">Sábado</ion-select-option>
      <ion-select-option value="Domingo">Domingo</ion-select-option>
    </ion-select>

    <!-- Hora de inicio -->
    <ion-input label="Hora de Inicio" label-placement="floating" fill="outline" type="time" [(ngModel)]="horaInicio"
      class="input-field"></ion-input>

    <!-- Hora de finalización -->
    <ion-input label="Hora de Finalización" label-placement="floating" fill="outline" type="time"
      [(ngModel)]="horaFinal" class="input-field"></ion-input>

    <!-- Botones de actualizar o volver -->
    <div class="button-container">
      <ion-button (click)="editarHabito()" color="secondary" class="button-primary">Actualizar</ion-button>
      <ion-button (click)="goToList()" color="warning" class="button-secondary">Volver</ion-button>
    </div>
  </div>
</ion-content>